# Merging data in Python

Now that we have all our cleaned data sets, we need to merge them together into a single file to make later regression and clusering analysis more simple. Using our unit of analysis, census tract, we can join records from each file based on a unique identifier (in this case, census tract ID). We will make use of the merge() function to inner join data.

First, we must read all the cleaned data in from Github, again using the read_csv() function from the pandas library.

In [6]:
import pandas as pd

home = 'https://github.com/Group8-GovAnalyticsProject/'

In [7]:
# Reading Grace's data
grace = home + 'GraceYoung/raw/main/'

covid_pre_link = grace + 'clean_covid_cases_pre.csv'
covid_all_link = grace + 'clean_covid_cases_all.csv'
med_income_link = grace + 'clean_median_income.csv'

covid_pre = pd.read_csv(covid_pre_link)
covid_all = pd.read_csv(covid_all_link)
med_inc = pd.read_csv(med_income_link)

In [8]:
# Reading Zoe's data
zoe = home + 'ZoeDong/raw/main/'

med_age_link = zoe + 'CleanedData_Zoe.csv'

med_age = pd.read_csv(med_age_link)

In [9]:
# Reading Haoyu's data
haoyu = home + 'HaoyuYue/raw/master/'

park_visit_19_link = haoyu + 'visiting_2019_4_WA_cleaned.csv'
park_visit_20_link = haoyu + 'visiting_2020_4_WA_cleaned.csv'

visit_19 = pd.read_csv(park_visit_19_link)
visit_20 = pd.read_csv(park_visit_20_link)

### Merging

We will have to merge datasets one at a time but the order doesn't matter. The merge() function is called on a dataframe (which becomes the 'left' dataframe), and requires another dataframe passed inside the function ('right' dataframe) that it will merge with. 

Additionally, you must specify which column to use for matching records between the two data frames. In this case, all our cleaned data has census tract id stored in a column called 'tract_id' which makes merging simple. However, if the columns had slightly different names, you could specify using left_on and right_on.

The final specification is the join type. We chose to use an inner join which preserves records with IDs that appear in both dataframes. This will ultimately create a dataframe with no missing values, which is favorable for future analysis.

One additional detail is helpful when adding park visitor data because the columns have the same names but we want to differentiate by year. This is accomplished using by passing a list argument to suffixes where the first string will be appended to column names from the left dataframe, and the second string will be appended to the right dataframe.

In [11]:
# COVID sets
join_1 = covid_pre.merge(covid_all, on='tract_id', how='inner')
join_1.head()

# adding median income
join_2 = join_1.merge(med_inc, on='tract_id', how='inner')
join_2.head()

# adding median age
join_3 = join_2.merge(med_age, on='tract_id', how='inner')
join_3.head()

# adding 2019 park visitors
join_4 = join_3.merge(visit_19, on='tract_id', how='inner')

# adding 2020 park visitors
final = join_4.merge(visit_20, on='tract_id', how='inner', suffixes=('_19', '_20'))

final.head()

,tract_id,precount_positive,all_positive,median_hhold_inc,median_age,week_19,count_19,week_20,count_20
0,53033000100,20,217,55143.0,34.9,2019/4/29,138,2020/4/27,50
1,53033000200,35,191,77463.0,38.1,2019/4/29,89,2020/4/27,33
2,53033000300,9,67,100917.0,36.4,2019/4/29,40,2020/4/27,24
3,53033000401,25,135,32877.0,46.2,2019/4/29,69,2020/4/27,32
4,53033000402,20,126,72150.0,44.0,2019/4/29,64,2020/4/27,17

### Exporting

Now that we have merged all our data into a single file, it's time to save it as a csv to pass off for future analysis.

In [12]:
final.to_csv('final_merged_data.csv', index=False)